@model ERPWebApp.Models.Warehouse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Warehouse</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WarehouseName)
        </dd>
        <dt class="col-sm-2">
            Return Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.Company): @Html.DisplayFor(model => model.Company) <br />
            @Html.DisplayNameFor(model => model.Country): @Html.DisplayFor(model => model.Country) <br />
            @Html.DisplayNameFor(model => model.City): @Html.DisplayFor(model => model.City) <br />
            @Html.DisplayNameFor(model => model.State): @Html.DisplayFor(model => model.State) <br />
            @Html.DisplayNameFor(model => model.PostalCode): @Html.DisplayFor(model => model.PostalCode) <br />
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeZone)
        </dt>
        <dd class="col-sm-10">
            @ViewData["TimeZoneDisplayName"]
        </dd>

        <dt class="col-sm-2">
            Return Address Phone Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            Return address email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        
        <dt class="col-sm-2">
            Billing address 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.BillingAddress.company): @Model.BillingAddress?.company <br />
            @Html.DisplayNameFor(model => model.BillingAddress.country): @Model.BillingAddress?.country <br />
            @Html.DisplayNameFor(model => model.BillingAddress.city): @Model.BillingAddress?.city <br />
            @Html.DisplayNameFor(model => model.BillingAddress.state): @Model.BillingAddress?.state <br />
            @Html.DisplayNameFor(model => model.BillingAddress.postalCode): @Model.BillingAddress?.postalCode <br />
        </dd>

        <dt class="col-sm-2">
            Billing Address Phone Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultWarehouse)
        </dt>
        <dd class="col-sm-10">
            @(Model.DefaultWarehouse ? "Yes" : "No")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SameAsReturnAddress)
        </dt>
        <dd class="col-sm-10">
            @(Model.SameAsReturnAddress ? "Yes" : "No")
        </dd>

    </dl>
</div>
<div>
    <form method="get">
        <button type="submit" formaction="@Url.Action("Edit", new { id = Model?.WarehouseId })" class="btn btn-primary">Edit</button>
        <button type="submit" formaction="@Url.Action("Index")" class="btn btn-secondary">Back to List</button>
    </form>
</div>