@using ERPWebApp.Models.Company
@model ERPWebApp.Models.MyDashViewModel

@{
    ViewData["Title"] = "My Dash Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #chart-container {
        position: relative;
        display: inline-block;
    }

    #chart {
        width: 100%;
    }

    .chart-label {
        display: inline-block;
        padding: 0 10px;
        text-align: center;
    }

    .chart-label>div:first-child {
        font-size: 22px;
    }

    .chart-label>div:last-child {
        font-size: 16px;
    }

    .category-pie-chart {
        display: inline-block;
        padding: 0 10px;
    }

    #help-button {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }

    #help-info {
        position: absolute;
        top: 40px;
        right: -200px;
        width: 200px;
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }

    .hidden {
        display: none;
    }

    .custom-tooltip {
        position: absolute;
        pointer-events: none;
        padding: 8px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        border-radius: 4px;
        font-size: 13px;
        z-index: 9999;
        visibility: hidden;
    }

    .inventory-select2-container {
        width: 25%;
        /* Adjust this value to control the width of the select box */
    }

    .inventory-select2-container .inventory-select2-selection {
        width: 25%;
        height: 38px;
        /* You can adjust this value to control the height of the select box */
        border-radius: 0.25rem;
    }
</style>
<!--error message-->
<div class="alert alert-danger d-flex align-items-center" role="alert" id="error-message"
    style="display: none !important;">
    <div>
        An error occurred while saving the layout
    </div>
</div>
<!--error message-->

<div class="form-check form-switch mt-2 mb-2">
    <label class="form-check-label" for="layout-editing-check" id="layout-editing-check-label">Enable Layout
        Editing</label>
    <input class="form-check-input" type="checkbox" id="layout-editing-check">
</div>

<div class="card-body" style="padding:0rem">
    <div class="modal fade" id="ModifyGoals" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form asp-action="CreateSOMG">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myCenterModalLabel">Modify Goals</h4>
                    </div>
                    <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div id="dynamic-form"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                aria-hidden="true">
                            Cancel
                        </button>
                        <button type="submit" value="CreateSOMG" class="btn btn-primary"
                                aria-hidden="true">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@{
    bool noFavoriteCharts = !Model.MyDashData.SpeedOMeter &&
    !Model.MyDashData.DepartmentOrderHistory &&
    !Model.MyDashData.TopDepartment &&
    !Model.MyDashData.YearlyProfit &&
    !Model.MyDashData.HistoricalTrends &&
    !Model.MyDashData.TotalFulfillmentSales &&
    !Model.MyDashData.TopProductSales &&
    !Model.MyDashData.SiteVolumetrics &&
    !Model.MyDashData.ProductCyleCount &&
    !Model.MyDashData.TopRequestedProducts &&
    !Model.MyDashData.TopMovedProducts &&
    !Model.MyDashData.TopReasonRequest;
}

@if (noFavoriteCharts)
{
    <div id="noChartsMessage" class="mt-4 mb-2">
        <h4>Your MyDash dashboard currently has no favorite charts. Customize your experience by adding your favorite charts
            to MyDash.</h4>
    </div>
}
<div class=" mt-3">
    <div class="row" id="drac-container">
        @if (Model.MyDashData.SpeedOMeter)
        {
            <div id="speedometer-chart" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                @await Html.PartialAsync("SpeedOMeter", new ERPWebApp.Models.Home())
            </div>
        }
        @if (Model.MyDashData.DepartmentOrderHistory)
        {
            <div id="department-order-history-chart" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                @await Html.PartialAsync("DepartmentOrderHistory", new ERPWebApp.Models.Home())
            </div>
        }
        @if (Model.MyDashData.TopDepartment)
        {
            <div id="top-department-chart" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                @await Html.PartialAsync("TopDepartment", new ERPWebApp.Models.Home())
            </div>
        }
        @if (Model.MyDashData.YearlyProfit)
        {
            <div id="yearly-profit-chart">
                @await Html.PartialAsync("YearlyProfit", new ERPWebApp.Models.FinancialsViewModel())
            </div>
        }
        @if (Model.MyDashData.HistoricalTrends)
        {
            <div id="historical-trends-chart">
                @await Html.PartialAsync("HistoricalTrends", new ERPWebApp.Models.FinancialsViewModel())
            </div>
        }
        @if (Model.MyDashData.TotalFulfillmentSales)
        {
            <div id="total-fulfillment-sales-chart" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                @await Html.PartialAsync("TotalFulfillmentSales", new ERPWebApp.Models.FinancialsViewModel())
            </div>
        }
        @if (Model.MyDashData.TopProductSales)
        {
            <div id="top-product-sales-chart" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                @await Html.PartialAsync("TopProductSales", new ERPWebApp.Models.FinancialsViewModel())
            </div>
        }
        @if (Model.MyDashData.SiteVolumetrics)
        {
            <div id="site-volumetrics-chart" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                @await Html.PartialAsync("SiteVolumetrics", new ERPWebApp.Models.InventoryViewModel())
            </div>
        }
        @if (Model.MyDashData.ProductCyleCount)
        {
            <div id="product-cycle-count-chart" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                @await Html.PartialAsync("ProductCyleCount", new ERPWebApp.Models.InventoryViewModel())
            </div>
        }
        @if (Model.MyDashData.TopRequestedProducts)
        {
            <div id="top-requested-products-chart" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                @await Html.PartialAsync("TopRequestedProducts", new ERPWebApp.Models.InventoryViewModel())
            </div>
        }
        @if (Model.MyDashData.TopReasonRequest)
        {
            <div id="top-reason-request-chart" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                @await Html.PartialAsync("TopReasonRequest", new ERPWebApp.Models.InventoryViewModel())
            </div>
        }
        @if (Model.MyDashData.TopMovedProducts)
        {
            <div id="top-moved-products-chart" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                @await Html.PartialAsync("TopMovedProducts", new ERPWebApp.Models.InventoryViewModel())
            </div>
        }
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/financials-trends-chart.min.js"></script>
    <script src="~/js/pages/financials-fulfillment-chart.min.js"></script>
    <script src="~/js/pages/financials-profits.min.js"></script>
    <!-- for drag-n-drop -->
    <script src="~/lib/hyper-assets/vendor/dragula/dragula.min.js"></script>
    <script src="~/js/pages/myDash-home-dashboard.min.js"></script>

    <script>
        var isTrendsInitialized = false;

        $(document).ready(function () {
            //initialize the drag and drop with Dragula
            InitDragNDrop();

            window.toggleHelpInfo = function (id) {
                var helpInfo = document.getElementById(id);
                if (helpInfo) {
                    helpInfo.classList.toggle('hidden');
                }
            }
            // #region Datatable Setup
            $('#productRequestTable').DataTable({
                searching: false,
                lengthChange: false,
                paging: false,
                info: false,
                columnDefs: [
                    { orderable: false, targets: '_all' }
                ]
            });
            $('#reasonsTable').DataTable({
                searching: false,
                lengthChange: false,
                paging: false,
                info: false,
                columnDefs: [
                    { orderable: false, targets: '_all' }
                ]
            });
            $('#movedProductsTable').DataTable({
                searching: false,
                lengthChange: false,
                paging: false,
                info: false,
                order: [[1, 'desc']],
                columnDefs: [
                    { orderable: false, targets: '_all' }
                ]
            });
            $('#siteSelect').select2();
            $('#siteNameFilter').select2();

            // #endregion
            // #region Datatable Export
            function downloadCSV(csv, filename) {
                const csvFile = new Blob([csv], { type: "text/csv" });
                const downloadLink = document.createElement("a");
                downloadLink.download = filename;
                downloadLink.href = window.URL.createObjectURL(csvFile);
                downloadLink.style.display = "none";
                document.body.appendChild(downloadLink);
                downloadLink.click();
            }

            function exportTableToCSV(tableId, filename) {
                const table = document.getElementById(tableId);
                let csv = [];
                const rows = table.querySelectorAll("tr");

                for (let i = 0; i < rows.length; i++) {
                    const row = [], cols = rows[i].querySelectorAll("td, th");

                    for (let j = 0; j < cols.length; j++) {
                        row.push(cols[j].innerText);
                    }

                    csv.push(row.join(","));
                }

                downloadCSV(csv.join("\n"), filename);
            }

            const reasonsExportButton = document.getElementById("reasonsExport");
            if (reasonsExportButton) {
                document.getElementById("reasonsExport").addEventListener("click", function () {
                    const tableId = "reasonsTable";
                    const filename = "reasons.csv";
                    exportTableToCSV(tableId, filename);
                });
            }
            const requestedProductExportButton = document.getElementById("requestedProductExport");
            if (requestedProductExportButton) {
                document.getElementById("requestedProductExport").addEventListener("click", function () {
                    const tableId = "productRequestTable";
                    const filename = "requestedProduct.csv";
                    exportTableToCSV(tableId, filename);
                });
            }
            const movedExportButton = document.getElementById("movedExport");
            if (movedExportButton) {
                document.getElementById("movedExport").addEventListener("click", function () {
                    const tableId = "movedProductsTable";
                    const filename = "movedProducts.csv";
                    exportTableToCSV(tableId, filename);
                });
            }
            // #endregion
            var defaultStart = moment().subtract(29, 'days');
            var defaultEnd = moment();

            var defaultDays = defaultEnd.diff(defaultStart, 'days');

            productRequestUpdate(-defaultDays);
            reasonsUpdate(-defaultDays);
            movedProductsUpdate(-defaultDays);
            // #region CycleCount Chart

            async function fetchData() {
                const response = await fetch('/Inventory/ProductCycleCount');
                const data = await response.json();
                return data;
            }

            fetchData().then(data => {
                const categories = ["1 day", "2-10 days", "11-20 days", "21-30 days", "31+ days"];

                function getCategoryIndex(days) {
                    if (days === 1) return 0;
                    if (days >= 2 && days <= 10) return 1;
                    if (days >= 11 && days <= 20) return 2;
                    if (days >= 21 && days <= 30) return 3;
                    return 4;
                }

                const siteDataMap = {};

                data.forEach(entry => {
                    const categoryIndex = getCategoryIndex(entry.daysSinceLastVerification);

                    if (!siteDataMap[entry.siteName]) {
                        siteDataMap[entry.siteName] = Array(categories.length).fill(0);
                    }

                    siteDataMap[entry.siteName][categoryIndex] += entry.stockQuantity;
                });

                const seriesData = Object.keys(siteDataMap).map(siteName => {
                    return {
                        name: siteName,
                        data: siteDataMap[siteName]
                    };
                });

                const sortedSeriesData = seriesData.slice().sort((a, b) => a.name.localeCompare(b.name));


                function cycleExportCSV(chartData, categories) {
                    let csvContent = "data:text/csv;charset=utf-8,";

                    csvContent += "Site Name," + categories.join(",") + "\r\n";

                    chartData.forEach(siteData => {
                        csvContent += siteData.name + "," + siteData.data.join(",") + "\r\n";
                    });

                    const encodedUri = encodeURI(csvContent);
                    const link = document.createElement("a");
                    link.setAttribute("href", encodedUri);
                    link.setAttribute("download", "cycle_count_data.csv");
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                }
                const cycleExport = document.getElementById("cycleExportCSV")
                if (cycleExport) {
                    document.getElementById("cycleExportCSV").addEventListener("click", () => {
                        cycleExportCSV(seriesData, categories);
                    });
                }


                function dataLabelFormatter(value, { seriesIndex, dataPointIndex, w }) {
                    // These are the thresholds that bars will be hidden.
                    const threshold = 10; // For multiple bars in a row
                    const singleBarThreshold = 5; // For the only bar in a row

                    // Calculate the maximum value across all categories
                    const maxValue = Math.max(...w.globals.series.map(s => Math.max(...s)));

                    // Calculate the percentage size of the bar segment based on the maximum value
                    const percentage = (w.globals.series[seriesIndex][dataPointIndex] / maxValue) * 100;

                    // Count the number of non-zero segments in the row
                    const nonZeroSegments = w.globals.series.map(s => s[dataPointIndex]).filter(val => val > 0).length;

                    // If percentage is below the threshold, hide the data label
                    if (percentage < threshold) {
                        return "";
                    }
                    return value;
                }

                const chartOptions = {
                    chart: {
                        type: "bar",
                        height: 350,
                        stacked: true
                    },
                    dataLabels: {
                        enabled: true,
                        formatter: dataLabelFormatter,
                    },
                    plotOptions: {
                        bar: {
                            horizontal: true
                        }
                    },
                    series: sortedSeriesData,
                    xaxis: {
                        categories: categories,
                        title: {
                            text: "Total Quantity"
                        }
                    },
                    yaxis: {
                        title: {
                            text: "Days Passed"
                        }
                    },
                    legend: {
                        position: "top",
                        horizontalAlign: "left"
                    },
                    noData: {
                        text: "No data available.",
                        align: 'center',
                        verticalAlign: 'middle',
                        style: {
                            color: '#AAB8C5',
                            fontSize: '16px',
                        }
                    }
                };

                const chart = new ApexCharts(document.querySelector("#cycle-count-chart"), chartOptions);
                chart.render();

                const siteNameFilter = document.getElementById("siteNameFilter");

                const siteNames = Object.keys(siteDataMap);
                siteNames.sort();
                siteNames.forEach(siteName => {
                    const option = document.createElement("option");
                    option.value = siteName;
                    option.textContent = siteName;
                    if (siteNameFilter) {
                        siteNameFilter.appendChild(option);
                    }

                });

                $('#siteNameFilter').select2();
                $('#siteNameFilter').on('select2:select', function () {
                    const selectedSite = $(this).val();

                    if (selectedSite === "") {
                        updateChart(chart, seriesData);
                    } else {
                        const filteredData = seriesData.filter(siteData => siteData.name === selectedSite);
                        updateChart(chart, filteredData);
                    }
                });

                function updateChart(chart, data) {
                    const seriesData = data.map(siteData => {
                        return {
                            name: siteData.name,
                            data: siteData.data
                        };
                    });

                    chart.updateOptions({
                        series: seriesData
                    });
                }
            });
            // #endregion
            // #region Volumetrics Graph
            async function volumetricsData() {
                const response = await fetch('/Inventory/Volumetrics');
                const data = await response.json();
                return data;
            }

            volumetricsData().then(data => {
                const siteSelect = document.getElementById('siteSelect');
                data.forEach((entry, index) => {
                    const option = document.createElement('option');
                    option.value = index;
                    option.textContent = entry.siteNames;
                    if (siteSelect) { siteSelect.appendChild(option); }

                });

                const colors = data.map(entry => entry.gradToColors);
                const chartDiv = document.getElementById('chartVolumetric');

                const options = {
                    series: [],
                    chart: {
                        type: 'radialBar',
                        height: 380
                    },
                    noData: {
                        text: "No data available.",
                        align: 'center',
                        verticalAlign: 'middle',
                        style: {
                            color: '#AAB8C5',
                            fontSize: '16px',
                        }
                    },
                    colors: colors,
                    plotOptions: {
                        radialBar: {
                            startAngle: -90,
                            endAngle: 90,
                            hollow: {
                                margin: 0,
                                size: '56%'
                            },
                            track: {
                                margin: 2,
                                startAngle: -90,
                                endAngle: 90,
                            },
                            dataLabels: {
                                name: {
                                    fontSize: "18px",
                                    fontWeight: 'bold'
                                },
                                value: {
                                    fontSize: "18px",
                                    fontWeight: 'bold'
                                },
                                enabled: true,
                                enabledOnSeries: true,
                                textAnchor: 'middle',
                            }
                        }
                    },
                    responsive: [
                        {
                            breakpoint: 480,
                            options: {
                                chart: {
                                    height: 280
                                },
                                plotOptions: {
                                    radialBar: {
                                        dataLabels: {
                                            name: {
                                                fontSize: "14px"
                                            },
                                            value: {
                                                fontSize: "14px"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    ]
                };

                const chart = new ApexCharts(chartDiv, options);
                chart.render();

                function updateChart() {
                    if (siteSelect) {
                        const selectedIndex = parseInt(siteSelect.value, 10);
                        const selectedData = selectedIndex === -1 ? data : [data[selectedIndex]];
                        selectedData.sort((a, b) => a.siteNames.localeCompare(b.siteNames));

                        options.series = selectedData.map(entry => entry.volRatio);
                        options.labels = selectedData.map(entry => entry.siteNames);
                        options.colors = selectedData.map(entry => entry.gradToColors);
                        chart.updateOptions(options);

                        const infoDiv = document.getElementById('info');
                        infoDiv.innerHTML = '';
                        selectedData.forEach(entry => {
                            const entryContainer = document.createElement('div');
                            entryContainer.style.display = 'flex';
                            entryContainer.style.flexDirection = 'column';
                            entryContainer.style.marginRight = '16px';
                            entryContainer.style.textAlign = 'center';
                            entryContainer.style.marginTop = selectedIndex === -1 ? '0' : '32px';

                            const volumeInfo = document.createElement('span');
                            volumeInfo.textContent = `${entry.volumeTally}/${entry.volumeTarget}`;
                            volumeInfo.style.fontWeight = 'bold';
                            volumeInfo.style.marginTop = '1rem';
                            volumeInfo.style.fontSize = '20px';
                            entryContainer.appendChild(volumeInfo);

                            const volumeLabel = document.createElement('label');
                            volumeLabel.textContent = 'Volume in Use(Cft):';
                            entryContainer.appendChild(volumeLabel);

                            const siteName = document.createElement('i');
                            siteName.textContent = entry.siteNames;
                            siteName.style.marginBottom = '2px';
                            siteName.style.marginTop = '2px';
                            entryContainer.appendChild(siteName);

                            infoDiv.appendChild(entryContainer);
                        });
                    }


                }
                updateChart();
                $('#siteSelect').on('select2:select', updateChart);

                function volumetricsExport(data, filename) {
                    const header = 'Site Names,Volume Tally,Volume Target,Volume Ratio\n';
                    const csvData = data
                        .map((entry) => `${entry.siteNames},${entry.volumeTally},${entry.volumeTarget},${entry.volRatio}`)
                        .join('\n');
                    const csvContent = header + csvData;

                    const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });
                    const link = document.createElement('a');
                    const url = URL.createObjectURL(blob);

                    link.setAttribute('href', url);
                    link.setAttribute('download', filename);
                    link.style.visibility = 'hidden';

                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                }
                const volumetricsCSVButton = document.getElementById('volumetricsCSV');
                if (volumetricsCSVButton) {
                    volumetricsCSVButton.addEventListener('click', () => {
                        volumetricsExport(data, 'sites_volume_ratio.csv');
                    });
                    $(".volumetrics-fetching-container").css("display", "none");
                    $("#volumetrics-fetching").addClass("hidden");
                }

            });
            // #endregion
            // #region Datatable Updates & Loading
            async function productRequestUpdate(days) {
                const productRequestDays = document.getElementById("product-request-chart")
                if (productRequestDays) {
                    const productRequestDays = document.getElementById("product-request-chart").value;
                }


                const tableContainer = document.getElementById("productRequestTable");

                $(".request-fetching-container").css("display", "flex");
                $("#request-fetching").removeClass("hidden");

                const response = await fetch(`/Inventory/RequestedProducts?days=${days}`);
                const updatedData = await response.json();
                if (tableContainer) {
                    const tableBody = tableContainer.querySelector("tbody");
                    if (updatedData.length != 0) {
                        tableBody.innerHTML = ""; // Clear the existing table body
                        updatedData.forEach(item => {
                            const row = document.createElement('tr');

                            const productSkuCell = document.createElement('td');
                            productSkuCell.textContent = item.productSku;
                            row.appendChild(productSkuCell);

                            const quantityNeededCell = document.createElement('td');
                            quantityNeededCell.textContent = item.quantityNeeded;
                            row.appendChild(quantityNeededCell);

                            const percentageCell = document.createElement('td');
                            const percentageString = item.percentage.toFixed(2) + '%';
                            percentageCell.innerHTML = `
                                                                                                                                                                                                                                                                                                                                                        <span style="margin-right: 5px;">${percentageString}</span>
                                                                                                                                                                                                                                                                                                                                                        <div style="background-color: grey; width: 100%; height: 10px; position: relative;">
                                                                                                                                                                                                                                                                                                                                                            <div style="background-color: hotpink; width: ${item.percentage}%; height: 10px;"></div>
                                                                                                                                                                                                                                                                                                                                                        </div>
                                                                                                                                                                                                                                                                                                                                                    `;
                            row.appendChild(percentageCell);

                            tableBody.appendChild(row);
                        });
                    }
                }


                $(".request-fetching-container").css("display", "none");
                $("#request-fetching").addClass("hidden");
            }

            async function reasonsUpdate(days) {
                const reasonDays = document.getElementById("reasons-chart")
                if (reasonDays) {
                    const reasonDays = document.getElementById("reasons-chart").value;
                }


                const tableContainer = document.getElementById("reasonsTable");

                $(".reasons-fetching-container").css("display", "flex");
                $("#reasons-fetching").removeClass("hidden");

                const response = await fetch(`/Inventory/RequestedReason?days=${days}`);
                const updatedData = await response.json();
                if (tableContainer) {
                    const tableBody = tableContainer.querySelector("tbody");
                    if (updatedData.length != 0) {
                    tableBody.innerHTML = ""; // Clear the existing table body
                    updatedData.forEach(item => {
                        const row = document.createElement('tr');

                        const pickReasonCell = document.createElement('td');
                        pickReasonCell.textContent = item.pickReason;
                        row.appendChild(pickReasonCell);

                        const reasonCountCell = document.createElement('td');
                        reasonCountCell.textContent = item.reasonCount;
                        row.appendChild(reasonCountCell);

                        const percentageCell = document.createElement('td');
                        const percentageString = item.percentage.toFixed(2) + '%';
                        percentageCell.innerHTML = `
                                                                                                                                                                                                                                                                                                                                                        <span style="margin-right: 5px;">${percentageString}</span>
                                                                                                                                                                                                                                                                                                                             `;
                        row.appendChild(percentageCell);

                        tableBody.appendChild(row);
                    });

                }

                $(".reasons-fetching-container").css("display", "none");
                $("#reasons-fetching").addClass("hidden");
                }
            }

            async function movedProductsUpdate(days) {
                const movedDays = document.getElementById("moved-products-chart")
                if (movedDays) {
                    const movedDays = document.getElementById("moved-products-chart").value;
                }
                const tableContainer = document.getElementById("movedProductsTable");

                $(".moved-fetching-container").css("display", "flex");
                $("#moved-fetching").removeClass("hidden");

                const response = await fetch(`/Inventory/MovedProducts?days=${days}`);
                const updatedData = await response.json();
                if (tableContainer) {
                    const tableBody = tableContainer.querySelector("tbody");
                    if (updatedData.length != 0) {
                    tableBody.innerHTML = ""; // Clear the existing table body
                    updatedData.forEach(item => {
                        const row = document.createElement('tr');

                        const skuCell = document.createElement('td');
                        skuCell.textContent = item.sku;
                        row.appendChild(skuCell);

                        const movedCell = document.createElement('td');
                        movedCell.textContent = item.quantity;
                        row.appendChild(movedCell);

                        tableBody.appendChild(row);
                    });
                }



                $(".moved-fetching-container").css("display", "none");
                $("#moved-fetching").addClass("hidden");

                }
            }
            // #endregion
            // #region Datatable Date/Range Picker
            //Date range info for product requests.
            $('#product-request-chart').daterangepicker({
                startDate: defaultStart,
                endDate: defaultEnd,
                autoUpdateInput: false,
                opens: 'bottom',
                showCustomRangeLabel: false,
                alwaysShowCalendars: false,
                ranges: {
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'Last 90 Days': [moment().subtract(89, 'days'), moment()]
                }
            });

            //Date range info for reasons.
            $('#reasons-chart').daterangepicker({
                startDate: defaultStart,
                endDate: defaultEnd,
                autoUpdateInput: false,
                opens: 'bottom',
                showCustomRangeLabel: false,
                alwaysShowCalendars: false,
                ranges: {
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'Last 90 Days': [moment().subtract(89, 'days'), moment()]
                }
            });

            //Date range info for moved products.
            $('#moved-products-chart').daterangepicker({
                startDate: defaultStart,
                endDate: defaultEnd,
                autoUpdateInput: false,
                opens: 'bottom',
                showCustomRangeLabel: false,
                alwaysShowCalendars: false,
                ranges: {
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'Last 90 Days': [moment().subtract(89, 'days'), moment()],
                    'Last Year': [moment().subtract(364, 'days'), moment()]
                }
            });

            //Date range application for product request chart.
            $('#product-request-chart').on('apply.daterangepicker', async function (ev, picker) {
                var days = picker.endDate.diff(picker.startDate, 'days');
                var selectedRangeLabel = ev.chosenLabel || Object.keys(picker.ranges).find(rangeLabel => {
                    var range = picker.ranges[rangeLabel];
                    return range[0].isSame(picker.startDate) && range[1].isSame(picker.endDate);
                });
                if (selectedRangeLabel) {
                    $(this).val(selectedRangeLabel);
                }
                await productRequestUpdate(-days);
            });

            //Date range application for reasons chart.
            $('#reasons-chart').on('apply.daterangepicker', async function (ev, picker) {
                var days = picker.endDate.diff(picker.startDate, 'days');
                var selectedRangeLabel = ev.chosenLabel || Object.keys(picker.ranges).find(rangeLabel => {
                    var range = picker.ranges[rangeLabel];
                    return range[0].isSame(picker.startDate) && range[1].isSame(picker.endDate);
                });
                if (selectedRangeLabel) {
                    $(this).val(selectedRangeLabel);
                }
                await reasonsUpdate(-days);
            });

            //Date range application for moved products chart.
            $('#moved-products-chart').on('apply.daterangepicker', async function (ev, picker) {
                var days = picker.endDate.diff(picker.startDate, 'days');
                var selectedRangeLabel = ev.chosenLabel || Object.keys(picker.ranges).find(rangeLabel => {
                    var range = picker.ranges[rangeLabel];
                    return range[0].isSame(picker.startDate) && range[1].isSame(picker.endDate);
                });
                if (selectedRangeLabel) {
                    $(this).val(selectedRangeLabel);
                }
                await movedProductsUpdate(-days);
            });

            //Hide calendar for product request chart.
            $('#product-request-chart').on('show.daterangepicker', function () {
                $('.daterangepicker .calendar').css('display', 'none');
                $('.daterangepicker .ranges ul').css('width', '100%');
            });

            //Hide calendar for reasons chart.
            $('#reasons-chart').on('show.daterangepicker', function () {
                $('.daterangepicker .calendar').css('display', 'none');
                $('.daterangepicker .ranges ul').css('width', '100%');
            });

            //Hide calendar for moved products chart.
            $('#moved-products-chart').on('show.daterangepicker', function () {
                $('.daterangepicker .calendar').css('display', 'none');
                $('.daterangepicker .ranges ul').css('width', '100%');
            });
            // #endregion


            //financial dashboard
            var currentYearProfitsData = @Html.Raw(Model.Financials.CurrentYearProfitsDataJson);
            var lastYearProfitsData = @Html.Raw(Model.Financials.LastYearProfitsDataJson);
            const yearlyProfitsChart = document.getElementById("yearlyProfitsChart");
            if (yearlyProfitsChart) {
                const chartContainer = document.querySelector('#yearlyProfitsChart');
                renderYearlyProfitsChart(chartContainer, currentYearProfitsData, lastYearProfitsData);
            }
            async function fetchYearlyProfitsData(startDate, endDate) {
                const response = await fetch(`/Financials/GetYearlyProfitsData?startDate=${startDate.toISOString()}&endDate=${endDate.toISOString()}`);
                const data = await response.json();
                return data;
            }

            $("#DaysLineChart").daterangepicker({
                opens: 'left',
                autoUpdateInput: false,
                startDate: moment().startOf('year'), // Set default start date to the start of the year
                endDate: moment(), // Set default end date to the current date
                locale: {
                    format: 'MM/DD/YYYY',
                    cancelLabel: 'Clear'
                },
                ranges: {
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'Last 90 Days': [moment().subtract(89, 'days'), moment()],
                    'Year to Date': [moment().startOf('year'), moment()]
                }
            }).on('apply.daterangepicker', async function (ev, picker) {
                if (!picker) {
                    return;
                }
                $("#DaysLineChart").val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                const startDate = picker.startDate.toDate();
                const endDate = picker.endDate.toDate();
                const data = await fetchYearlyProfitsData(startDate, endDate);

                currentYearProfitsData = data.currentYearProfitsData.map(toPascalCase);
                lastYearProfitsData = data.lastYearProfitsData.map(toPascalCase);
                updateChartAndExportCSV(currentYearProfitsData, lastYearProfitsData, startDate, endDate);
            });

            // Trigger the apply.daterangepicker event to initialize the chart and CSV button with the default date range
            $("#DaysLineChart").trigger('apply.daterangepicker');

            //handle add favourite charts
            $('#YearlyProfit').change(function () {
                updateFavouriteStatus('YearlyProfit', $(this).is(':checked'));
            });

            $('#HistoricalTrends').change(function () {
                updateFavouriteStatus('HistoricalTrends', $(this).is(':checked'));
            });

            $('#TotalFulfillmentSales').change(function () {
                updateFavouriteStatus('TotalFulfillmentSales', $(this).is(':checked'));
            });
            $('#TopProductSales').change(function () {
                updateFavouriteStatus('TopProductSales', $(this).is(':checked'));
            });

            // Handle the export button click event
            const exportYearlyProfitsButton = document.getElementById("exportYearlyProfitsButton");
            if (exportYearlyProfitsButton) {
                document.getElementById("exportYearlyProfitsButton").addEventListener("click", function () {
                    const startDate = $("#DaysLineChart").data('daterangepicker').startDate.toDate();
                    const endDate = $("#DaysLineChart").data('daterangepicker').endDate.toDate();

                    const currentYearData = currentYearProfitsData.filter(item => new Date(item.Date) >= startDate && new Date(item.Date) <= endDate);

                    // Filter last year data based on original dates and then adjust the dates
                    const lastYearDataFiltered = lastYearProfitsData.filter(item => new Date(item.Date) >= new Date(startDate.getFullYear() - 1, startDate.getMonth(), startDate.getDate()) && new Date(item.Date) <= new Date(endDate.getFullYear() - 1, endDate.getMonth(), endDate.getDate()));
                    const lastYearData = lastYearDataFiltered.map(item => {
                        const itemDate = new Date(item.Date);
                        const adjustedItemDate = new Date(itemDate.setFullYear(startDate.getFullYear()));
                        return { ...item, Date: adjustedItemDate };
                    });

                    const csvContent = exportYearlyProfitsToCSV(currentYearData, lastYearDataFiltered);
                    downloadCSVFile(csvContent, 'Yearly_Profits.csv');
                });
            }



            var pieChartDataJson = @Html.Raw(Model.Financials.PieChartDataJson);
            fetch(`/Financials/OnGetDepartment`)
                .then(response => response.json())
                .then(departmentResult => {
                    renderPieChart(pieChartDataJson, departmentResult);
                })
                .catch(error => {
                    console.error('Error fetching department data:', error);
                });

            var daysTrendsChart;

            async function trendsUpdate(startDate, endDate) {
                globalStartDate = startDate;
                globalEndDate = endDate;

                const days = endDate.diff(startDate, 'days') + 1;

                const isproductDays = document.getElementById("product-sales-chart")
                if (isproductDays) {
                    const productDays = document.getElementById("product-sales-chart").value;
                    updateUrl(days, productDays);
                }


                const chartContainer = document.getElementById("column-chart-historical-trends");

                if (chartContainer) {
                    $(".trends-fetching-container").css("display", "flex");
                    $("#trends-fetching").removeClass("hidden");
                    chartContainer.style.display = "none";

                    const formattedStartDate = startDate.format('YYYY-MM-DD');
                    const formattedEndDate = endDate.format('YYYY-MM-DD');

                    const response = await fetch(`/Financials/HistoricalTrends?startDate=${formattedStartDate}&endDate=${formattedEndDate}`);
                    const departmentResult = await fetch(`/Financials/OnGetDepartment`);
                    const data = await response.json();
                    renderColumnChart(data, days, departmentResult);

                    $(".trends-fetching-container").css("display", "none");
                    $("#trends-fetching").addClass("hidden");

                    chartContainer.style.display = "block";
                }

            }


            productSalesTable = $('#productSalesTable').DataTable({
                pageLength: 10,
                searching: false,
                lengthChange: false,
                order: [[2, 'desc']],

                dom: 'Bfrtip',
                buttons: [
                    'csvHtml5',
                    'excelHtml5',
                    'print'
                ]
            });
            $("#datatables-buttons-container").append($(".dt-buttons"));



            async function productSalesUpdate(days) {
                const productDays = document.getElementById("product-sales-chart").value;
                const trendsDays = document.getElementById("DaysColumnChart").value;


                updateUrl(trendsDays, days);

                const chartContainer = document.getElementById("productSalesTable");

                $(".sales-fetching-container").css("display", "flex");
                $("#sales-fetching").removeClass("hidden");
                //chartContainer.style.display = "none";

                const response = await fetch(`/Financials/ProductSalesView?days=${days}`);
                const updatedRowsHtml = await response.text();

                productSalesTable.clear();

                //Done so that it can be done without reloading the page.
                const tempElement = document.createElement('tbody');
                tempElement.innerHTML = updatedRowsHtml;

                Array.from(tempElement.querySelectorAll('tr')).forEach(row => {
                    const rowData = Array.from(row.querySelectorAll('td')).map(cell => cell.innerHTML);
                    productSalesTable.row.add(rowData);
                });

                productSalesTable.draw();

                $(".sales-fetching-container").css("display", "none");
                $("#sales-fetching").addClass("hidden");
                //chartContainer.style.display = "block";
            }

            //Function for updating the URL, as well as allowing 
            function updateUrl(trendsDays, productDays) {
                const baseUrl = "https://cwa.completeful.com/Financials";
                //Using relative URL, so that it works for both local dev as well as live site.
                const url = new URL(window.location.href);

                if (trendsDays) {
                    url.searchParams.set("TrendsChartDays", trendsDays);
                }

                if (productDays) {
                    url.searchParams.set("ProductSalesChartDays", productDays);
                }

                history.replaceState(null, "", url.toString());
            }

            function setLoadingMessage(message) {
                const loadingMessageElement = document.getElementById('loadingMessage');
                loadingMessageElement.textContent = message;
            }
            async function fetchAndUpdateTrendsData(days) {
                const response = await fetch(`/Financials/HistoricalTrends?days=${days}`);
                const trendsData = await response.json();
                updateTrendsDisplay(trendsData);
            }
            //Exports
            $("#exportFulfillmentButton").on("click", function () {
                //setLoadingMessage('Preparing CSV...');
                window.location.href = "/Financials/ExportFulfillmentToCSV";
                //setLoadingMessage('');
            });
            $("#exportTrendsButton").on("click", async function () {
                //setLoadingMessage('Preparing CSV...');

                const formattedStartDate = globalStartDate.format('YYYY-MM-DD');
                const formattedEndDate = globalEndDate.format('YYYY-MM-DD');

                window.location.href = `/Financials/ExportTrendsToCSV?startDate=${formattedStartDate}&endDate=${formattedEndDate}`;
                //setLoadingMessage('');
            });



            //Date handling for Historical Trends & Product Sales
            let globalStartDate;
            let globalEndDate;

            var defaultStart = moment().subtract(29, 'days');
            var defaultEnd = moment();

            var defaultDays = defaultEnd.diff(defaultStart, 'days');
            const hisoricalTrends = document.getElementById("historical-trends-chart");
            if (hisoricalTrends) {
                trendsUpdate(defaultStart, defaultEnd);
            }

            const topProduct = document.getElementById("top-product-sales-chart");
            if (topProduct) {
                productSalesUpdate(-defaultDays);
            }


            //Date range info for Historical Trends
            $('#DaysColumnChart').daterangepicker({
                startDate: defaultStart,
                endDate: defaultEnd,
                autoUpdateInput: true,
                opens: 'bottom',
                showCustomRangeLabel: true,
                alwaysShowCalendars: true,
                ranges: {
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'Last 60 Days': [moment().subtract(59, 'days'), moment()],
                    'Last 90 Days': [moment().subtract(89, 'days'), moment()]
                }
            });

            //Date range info for Product Sales
            $('#product-sales-chart').daterangepicker({
                startDate: defaultStart,
                endDate: defaultEnd,
                autoUpdateInput: false,
                opens: 'bottom',
                showCustomRangeLabel: false,
                alwaysShowCalendars: false,
                ranges: {
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'Last 90 Days': [moment().subtract(89, 'days'), moment()]
                }
            });


            //Date range application for trends chart.
            $('#DaysColumnChart').on('apply.daterangepicker', async function (ev, picker) {
                var startDate = picker.startDate;
                var endDate = picker.endDate;
                var selectedRangeLabel = ev.chosenLabel || Object.keys(picker.ranges).find(rangeLabel => {
                    var range = picker.ranges[rangeLabel];
                    return range[0].isSame(picker.startDate) && range[1].isSame(picker.endDate);
                });

                if (selectedRangeLabel) {
                    $(this).val(selectedRangeLabel);
                }
                await trendsUpdate(startDate, endDate);
            });

            //Date range application for sales chart.
            $('#product-sales-chart').on('apply.daterangepicker', async function (ev, picker) {
                var days = picker.endDate.diff(picker.startDate, 'days');
                var selectedRangeLabel = ev.chosenLabel || Object.keys(picker.ranges).find(rangeLabel => {
                    var range = picker.ranges[rangeLabel];
                    return range[0].isSame(picker.startDate) && range[1].isSame(picker.endDate);
                });

                if (selectedRangeLabel) {
                    $(this).val(selectedRangeLabel);
                }
                const topProduct = document.getElementById("top-product-sales-chart");
                if (topProduct) {
                    await productSalesUpdate(-days);
                }
                
            });

            //Hide calendar for sales chart.
            $('#product-sales-chart').on('show.daterangepicker', function () {
                $('.daterangepicker .calendar').css('display', 'none');
                $('.daterangepicker .ranges ul').css('width', '100%');
            });
        });


        function InitDragNDrop() {

            //#region dragula drag-n-drop implementation

            //listen to the drag n drop controller checkbox event and change the label text
            $("#layout-editing-check").on('change', function () {
                $('#layout-editing-check-label').html($(this).is(':checked') ? 'Disable Layout Editing' : 'Enable Layout Editing');
            });

            //get main dragula container
            let dracContainer = $('#drac-container');
            //get error message element
            let errorMsg = $('#error-message');

            //get the item order from the DB and parse in to a javascript array
            var elementPositions = @Html.Raw(Json.Serialize(Model.DashboardLayouts is null ? new object[] { } : Model.DashboardLayouts));
            //dasboard's name


            var ongoingAjax;
            var isAjaxPending = false;

            //if nothing received from the server (previous data is empty), get the current element positions
            if (!elementPositions || !Array.isArray(elementPositions) || elementPositions.length == 0) {
                elementPositions = [];
                dracContainer.children("div").each((i, elem) => {
                    elementPositions.push({ position: i, elemId: elem.id });
                });
            }

            dragula([document.getElementById('drac-container')], {
                isContainer: function (el) {
                    return false; // only elements in drake.containers will be taken into account
                },
                moves: function (el, source, handle, sibling) {
                    return $('#layout-editing-check').is(':checked'); //enable or disable drag n drop according to the user preference
                },
                accepts: function (el, target, source, sibling) {
                    return true; // elements can be dropped in any of the `containers` by default
                },
                invalid: function (el, handle) {
                    return false; // don't prevent any drags from initiating by default
                },
                direction: 'vertical',             // Y axis is considered when determining where an element would be dropped
                copy: false,                       // elements are moved by default, not copied
                copySortSource: false,             // elements in copy-source containers can be reordered
                revertOnSpill: false,              // spilling will put the element back where it was dragged from, if this is true
                removeOnSpill: false,              // spilling will `.remove` the element, if this is true
                mirrorContainer: document.body,    // set the element that gets mirror elements appended
                ignoreInputTextSelection: true,     // allows users to select input text, see details below
                slideFactorX: 0,               // allows users to select the amount of movement on the X axis before it is considered a drag instead of a click
                slideFactorY: 0,               // allows users to select the amount of movement on the Y axis before it is considered a drag instead of a click
            })
                .on('drop', function (el, target, source, sibling) {
                    //when the item dropped succesfully, prepare the new element order to save in the DB
                    let newPositionsArr = [];
                    dracContainer.children("div").each((i, elem) => {
                        newPositionsArr.push({ Position: i, ElemId: elem.id });
                    });

                    //abort pending ajax calls
                    if (isAjaxPending && ongoingAjax) {
                        ongoingAjax.abort();
                    }
                    var dashboardName = '@DashboardNames.DashboardMyDash.ToString()';
                    isAjaxPending = true;//mark as ajax is started

                    var data = { Name: dashboardName, Layouts: newPositionsArr };
                    ongoingAjax = $.ajax({
                        url: "/UserPreference/SaveLayout",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(data),
                        dataType: "json",
                        success: function (data) {
                            errorMsg.attr('style', 'display:none !important');
                            isAjaxPending = false;
                        },
                        error: function (error) {
                            if (error && error.statusText && error.statusText != 'abort') {
                                errorMsg.show();
                            }

                            isAjaxPending = false;

                            //if in error, reset the view to the prvious order
                            dracContainer.empty();//remove the existing child elements from main dragula container

                            //add the elements back with the previously persisted order
                            elementPositions.forEach((item, i) => {
                                dracContainer.append(item.elem);
                            });

                            isAjaxBeingAborted = false;
                        }
                    });
                });

            //#endregion


            //#region dragular drag-n-drop set initial positions

            if (dracContainer.children.length == 0) {
                return;
            }

            elementPositions.sort((a, b) => a.position - b.position);//sort the retrived previously persisted element order array

            //add the dom elements to the retrived array
            dracContainer.children("div").each((i, elem) => {
                elementPositions.forEach((item, j) => {
                    if (elem.id == item.elemId) {
                        elementPositions[j]["elem"] = elem;
                    }
                });
            });

            dracContainer.empty();//remove the existing child elements from main dragula container

            //add the elements back with the previously persisted order
            elementPositions.forEach((item, i) => {
                dracContainer.append(item.elem);
            });

            dracContainer.show();

            //#endregion

        }

    </script>
}