@model ERPWebApp.Models.Inventory.Product
@namespace ERPWebApp.Models.Inventory
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #department-error {
        color: #ff5b5b;
    }
</style>
<p>@Html.ValidationSummary(false, "", new { @class = "text-danger", id = "validation-summary-errors" })</p>
<h1>Create</h1>

<h4>Product</h4>
<hr/>
<div class="row">
    <div class="col-12">
        <div class="row" hidden>
            <div class="col-6">
                <form action="/" method="post" class="dropzone" id="myAwesomeDropzone" data-plugin="dropzone"
                      data-previews-container="#file-previews" data-upload-preview-template="#uploadPreviewTemplate">
                    <div class="fallback">
                        <input name="file" type="file"/>
                    </div>

                    <div class="dz-message needsclick">
                        <i class="h1 text-muted dripicons-cloud-upload"></i>
                        <h3>Drop files here or click to upload.</h3>
                        <span class="text-muted font-13">
                            (This is just a demo dropzone. Selected files are
                            <strong>not</strong> actually uploaded.)
                        </span>
                    </div>
                </form>
                <!-- Preview -->
                <div class="dropzone-previews mt-3" id="file-previews"></div>

                <!-- file preview template -->
                <div class="d-none" id="uploadPreviewTemplate">
                    <div class="card mt-1 mb-0 shadow-none border">
                        <div class="p-2">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <img data-dz-thumbnail src="#" class="avatar-sm rounded bg-light" alt="">
                                </div>
                                <div class="col pl-0">
                                    <a href="javascript:void(0);" class="text-muted font-weight-bold" data-dz-name></a>
                                    <p class="mb-0" data-dz-size></p>
                                </div>
                                <div class="col-auto">
                                    <!-- Button -->
                                    <a href="" class="btn btn-link btn-lg text-muted" data-dz-remove>
                                        <i class="dripicons-cross"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <!--Product SKus-->
    <div class="panel panel-default mt-3">
        <div class="panel-heading">
            <h3 class="panel-title">
                Product SKus
            </h3>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 mt-2 mt-md-0">
                    <label for="sku-category">Sku Category</label>
                    <select id="sku-category" class="form-control select2" data-toggle="select2">
                        <option value="">Category</option>
                    </select>
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <label for="sku-UOM">Unit of Measure</label>
                    <select id="sku-UOM" class="form-control select2" data-toggle="select2">
                        <option value="">Unit Of Measure</option>
                    </select>
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <label for="sku-color">Color</label>
                    <select id="sku-color" class="form-control select2" data-toggle="select2">
                        <option value="">Color</option>
                    </select>
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <label for="sku-set-number">Set Quantity</label>
                    <input id="sku-set-number" class="form-control" type="number" min="1" value="1">
                </div>
            </div>
            <div class="row mt-md-2">
                <div class="col-md-4 mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="Sku" class="control-label"></label>
                        <input asp-for="Sku" class="form-control" id="full-sku"/>
                        <span asp-validation-for="Sku" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2 mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="FulfillmentCost" class="control-label"></label>
                        <input asp-for="FulfillmentCost" class="form-control" min="0" value="0" step=".0001"/>
                        <span asp-validation-for="FulfillmentCost" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2 mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="Cost" class="control-label"></label>
                        <input asp-for="Cost" class="form-control" min="0" value="0"/>
                        <span asp-validation-for="Cost" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2 mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="OverseasCost" class="control-label"></label>
                        <input asp-for="OverseasCost" class="form-control" min="0" value="0" step=".0001"/>
                        <span asp-validation-for="OverseasCost" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2 mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="LaborCost" class="control-label"></label>
                        <input asp-for="LaborCost" class="form-control" min="0" value="0"/>
                        <span asp-validation-for="LaborCost" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Product Description-->
    <div class="panel panel-default mt-4">
        <div class="panel-heading">
            <h3 class="panel-title">
                Product Description
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group p-1 mt-1 mt-md-0">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="5" maxlength="350"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>       
            </div>
        </div>
    </div>
    
    <!--Product Selection-->
    <div class="panel panel-default mt-4">
        <div class="panel-heading">
            <h3 class="panel-title">
                Product Selection
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 mt-1 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="AltItemNumber" class="control-label"></label>
                        <input asp-for="AltItemNumber" class="form-control"/>
                        <span asp-validation-for="AltItemNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label class="control-label"> Alternate Product</label>
                        <select id="alternate-product" class="form-control" name="AlternateProductId">
                            <option value="">Select Alternate Product</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3 mt-3 mt-md-0" @(User.IsInRole(RoleList.ExternalUser) ? "hidden" : "")>
                    <div class="form-group p-1">
                        <label class="control-label">Select Departments</label>

                        <select class="select2 form-control select2-multiple" data-toggle="select2" required="required"
                                data-placeholder="Choose ..." id="DepartmentList" name="DepartmentList"
                                asp-items="ViewBag.DepartmentList" multiple="multiple">
                            @if (User.IsInRole((RoleList.ExternalUser)))
                            {
                                <option selected value="@ViewData["ExternalDeptId"]"></option>
                            }
                        </select>
                        <label id="department-error" class="control-label">No Department Selected</label>
                    </div>
                </div>
                <div class="col-md-3 mt-3 mt-md-0" @(User.IsInRole(RoleList.ExternalUser) ? "hidden" : "")>
                    <div class="form-group p-1">
                        <label class="control-label"> Product Sub Category</label>
                        <select class="select2 form-control select2" data-toggle="select2" id="SubCategoryList"
                                name="SubCategoryId" asp-items="ViewBag.SubCategoryList">
                            <option value="none" selected disabled hidden>--Select a Sub Category--</option>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--Product Specification-->
    <div class="panel panel-default mt-4">
        <div class="panel-heading">
            <h3 class="panel-title">
                Product Specifications
            </h3>
        </div>
        <div class="panel-body">
            <div class="row d-flex flex-md-row flex-column" >
                <div style="flex: 1;" class="mt-1 mt-md-0" >
                    <div class="form-group p-1">
                        <label asp-for="OnOrder" class="control-label"></label>
                        <input asp-for="OnOrder" class="form-control" min="0" value="0"/>
                        <span asp-validation-for="OnOrder" class="text-danger"></span>
                    </div>
                </div>
                <div style="flex: 1;" class="mt-3 mt-md-0" >
                    <div class="form-group p-1">
                        <label asp-for="LeadTime" class="control-label"></label><a>(Days)</a>
                        <input asp-for="LeadTime" class="form-control" min="0" value="0"/>
                        <span asp-validation-for="LeadTime" class="text-danger"></span>
                    </div>
                </div>
                <div style="flex: 1;" class="mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="WeightAmount" class="control-label"></label>
                        <input asp-for="WeightAmount" class="form-control" min="0" value="0" step=".0001"/>
                        <span asp-validation-for="WeightAmount" class="text-danger"></span>
                    </div>
                </div>
                <div style="flex: 1;" class="mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="WeightUnit" class="control-label"></label>
                        <select asp-for="WeightUnit" asp-items="@Html.GetEnumSelectList<WeightUnit>()"
                                class="form-control">
                        </select>
                        <span asp-validation-for="WeightUnit" class="text-danger"></span>
                    </div>
                </div>
                <div  style="flex: 1;" class="mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="MinInventory" class="control-label"></label>
                        <input asp-for="MinInventory" min="0" class="form-control" value="0" step=".0001"/>
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.MinInventory)</span>
                    </div>
                </div>
            </div>
            <div class="row d-flex flex-md-row flex-column mt-md-2" >
                <div style="flex: 1;" class="mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="MaxInventory" class="control-label"></label>
                        <input asp-for="MaxInventory" min="0" class="form-control" value="0" step=".0001"/>
                        <span asp-validation-for="MaxInventory" class="text-danger"></span>
                    </div>
                </div>
                <div style="flex: 1;" class="mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="Length" class="control-label"></label>
                        <input asp-for="Length" class="form-control" min="0" value="0" step=".0001"/>
                        <span asp-validation-for="Length" class="text-danger"></span>
                    </div>
                </div>
                <div style="flex: 1;" class="mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="Width" class="control-label"></label>
                        <input asp-for="Width" class="form-control" min="0" value="0" step=".0001"/>
                        <span asp-validation-for="Width" class="text-danger"></span>
                    </div>
                </div>
                <div style="flex: 1;" class="mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="Height" class="control-label"></label>
                        <input asp-for="Height" class="form-control" min="0" value="0" step=".0001"/>
                        <span asp-validation-for="Height" class="text-danger"></span>
                    </div>
                </div>
                <div style="flex: 1;" class="mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="DimensionalUnit" class="control-label"></label>
                        <select asp-for="DimensionalUnit" asp-items="@Html.GetEnumSelectList<DimensionalUnit>()"
                                class="form-control">
                        </select>
                        <span asp-validation-for="DimensionalUnit" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!--Product Images-->
    <div class="panel panel-default mt-4">
        <div class="panel-heading">
            <h3 class="panel-title">
                Product Images
            </h3>
        </div>
        <div class="panel-body">
            <div class="row d-flex flex-md-row flex-column" >
                <comment></comment>
                <div style="flex: 1;" class="mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label class="control-label">Default Image</label>
                        <input type="file" id="DefaultImage" name="defaultImage" class="form-control"/>
                    </div>
                </div>
                <div style="flex: 1;" class="mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label class="control-label">Images</label>
                        <input type="file" id="Image" name="uploads" multiple class="form-control"/>
                    </div>
                </div>
                  
                <div style="flex: 2;" class="mt-3 mt-md-0">
                    <div class="row p-1">
                        <label class="control"> Product Tag</label>
                        <div class="row">
                            <div class="col-8">
                                <select class="select2 form-control productTag" data-placeholder="Select or Enter new Tag" data-toggle="select2" id="productTag" name="productTag">
                                    <option value=""></option>
                                    @if (ViewData["Tags"] != null)
                                    {
                                        @foreach (var tag in (List<ProductTagsRegistry>)ViewData["Tags"])
                                        {
                                            <option value="@tag.TagId" data-color="@tag.Color" style="background-color: @tag.Color">@tag.Description</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-2 col-md-1 p-0">
                                <button class="TagColorbtn btn " style="color:#ffff; border-color: #ffff; line-height: 0;" type="button">
                                    <span class="mdi mdi-24px mdi-palette-outline"></span>
                                </button>
                                <input type="color" class="TagColor" style="position: absolute; right: 0; opacity: 0;" value="">
                            </div>
                            <div class="col-1 col-md-2 p-0" style="margin-left: 15px">
                                <button type="button" id="addTag" class="btn btn-success" style="line-height: 0;">
                                    <span class="mdi mdi-24px mdi-plus">&nbsp;Add</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row productTagList p-2">
                        <input type="hidden" name="productTags" id="productTags_hidden">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Product Shipping Info-->
    <div class="panel panel-default mt-4">
        <div class="panel-heading">
            <h3 class="panel-title">
                Product Shipping Information
            </h3>
        </div>
        <div class="panel-body">
            <div class="row d-flex flex-md-row flex-column">
                <div style="flex: 1;" class="mt-1 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="ShippingWeightAmount" class="control-label"></label>
                        <input asp-for="ShippingWeightAmount" class="form-control" min="0" value="0" />
                        <span asp-validation-for="ShippingWeightAmount" class="text-danger"></span>
                    </div>
                </div>
                <div style="flex: 1;" class="mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="ShippingWeightUnit" class="control-label"></label>
                        <select asp-for="ShippingWeightUnit" asp-items="@Html.GetEnumSelectList<WeightUnit>()"
                                class="form-control">
                        </select>
                        <span asp-validation-for="ShippingWeightUnit" class="text-danger"></span>
                    </div>
                </div>
                <div style="flex: 1;" class="mt-3 mt-md-0">
                    <div class="form-group p-1 form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsShippingContainer" />
                            @Html.DisplayNameFor(model => model.IsShippingContainer)
                        </label>
                        <span asp-validation-for="IsShippingContainer" class="text-danger"></span>
                    </div>
                </div>
                <div style="flex: 1;" class="mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="ExpectedShipmentCost" class="control-label"></label>
                        <input asp-for="ExpectedShipmentCost" class="form-control" min="0" value="0" />
                        <span asp-validation-for="ExpectedShipmentCost" class="text-danger"></span>
                    </div>
                </div>
                <div style="flex: 1;" class="mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="ShippingLength" class="control-label"></label>
                        <input asp-for="ShippingLength" class="form-control" min="0" value="0" step=".0001" />
                        <span asp-validation-for="ShippingLength" class="text-danger"></span>
                    </div>
                </div>
                <div style="flex: 1;" class="mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="ShippingWidth" class="control-label"></label>
                        <input asp-for="ShippingWidth" class="form-control" min="0" value="0" step=".0001" />
                        <span asp-validation-for="ShippingWidth" class="text-danger"></span>
                    </div>
                </div>
                <div style="flex: 1;" class="mt-3 mt-md-0">
                    <div class="form-group p-1">
                        <label asp-for="ShippingHeight" class="control-label"></label>
                        <input asp-for="ShippingHeight" class="form-control" min="0" value="0" step=".0001" />
                        <span asp-validation-for="ShippingHeight" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @*Old System Of Departments(Currently necessary for Home Dashboard)*@
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Product Toggles
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-md-10">
                    <div class="form-group form-check px-4 py-2">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsActive" checked/>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>
                    <div class="form-group form-check px-4 py-2" @(User.IsInRole(RoleList.Administrator) ||
                                                                   User.IsInRole(RoleList.ExternalViewer)
                                                                     ? ""
                                                                     : "hidden")>
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsExternalProduct"
                                   checked="@(User.IsInRole(RoleList.ExternalUser))"/>
                            @Html.DisplayNameFor(model => model.IsExternalProduct)
                        </label>
                    </div>
                </div>
                <div class="form-group p-1 mt-2">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div>
        <a class="p-2" asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/hyper-assets/vendor/dropzone/min/dropzone.min.js"></script>
    <script src="~/lib/hyper-assets/js/component.fileupload.js"></script>
    <script src="~/js/pages/product-creation.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#productTag").select2({tags:true});

            InitAlternateProductSelect2();//initialize the alternate product related functions
        });

        $('.select2').select2();

        let url = '@Url.Action("GetSkuCategories")';

        $.getJSON(url, function (response) {
            addSkuCategories(response);
        });

        url = '@Url.Action("GetSkuColors")';
        $.getJSON(url, function (response) {
            addSkuColors(response);
        });
        url = '@Url.Action("GetSkuUnitOfMeasure")';
        $.getJSON(url, function (response) {
            addSkuUnitOfMeasure(response);
        });

        $("#sku-category").on('select2:select', function (e) {
            let data = e.params.data;
            buildSkuItem();
            console.log(data.id);
        });
        $("#sku-UOM").on('select2:select', function (e) {
            let data = e.params.data;
            buildSkuItem();
            console.log(data.id);
        });
        $("#sku-color").on('select2:select', function (e) {
            let data = e.params.data;
            buildSkuItem();
            console.log(data.id);
        });
        $("#sku-set-number").change(function () {
            let data = $("#sku-set-number").val();
            buildSkuItem();
            console.log(data);
        });

        $("#DepartmentList").select2({})
        .on("select2:select", function (e) {
            $('#department-error').hide();
        }).on("select2:unselect", function (e) {
            let selected_element = $(e.currentTarget);
            let select_val = selected_element.select2('data');
            if (select_val.length == 0) {
                $('#department-error').show();
            }
        });

        $('.TagColor').on('input',(event)=>{
            $('#select2-productTag-container').parent().css({
                'border-color': event.target.value
            });

            $('.TagColorbtn').css({
                'border-color': event.target.value,
                'background-color': event.target.value
            });
        });

        $('.TagColorbtn').click(()=>{
            $('.TagColor').click();
        });

        $('#addTag').click(()=>{
           var tag_data = $('#productTag').select2('data');
           var color = $('.TagColor').val();
           if(tag_data != undefined && tag_data.length > 0 && tag_data[0].text != ""){

            if(!isNaN(tag_data[0].id)) color = $('#productTag').find(':selected').data('color');
            var json = $('#productTags_hidden').val() ? JSON.parse($('#productTags_hidden').val()) : [];

            var isExists = json.findIndex(x=>x.Description.toUpperCase() == tag_data[0].text.toUpperCase()) != -1;
            if(!isExists){
                var tagId = isNaN(tag_data[0].id) ? 0 : parseInt(tag_data[0].id);
                var tag = {
                    TagId : tagId,
                    Description: tag_data[0].text,
                    Color : color
                };

             var tagJson = JSON.stringify({productId: 0, tagId: tag.TagId});

            var tagPill = `<div class="btn-group p-0 m-0" style="width:auto;margin-right: 5px !important" role="group" aria-label="${tag.Description}" title="${tag.Description}">
                            <button type="button" disabled class="btn" style="background-color:${tag.Color}; width:auto">${tag.Description}</button>
                            <button type="button" data-tag='${tagJson}' class="btn btn-danger p-0 removeTag" style="width:40px"><span class="mdi mdi-24px mdi-delete"></span></button>
                          </div>`;

                $(".productTagList").append(tagPill);
                
                json.push(tag);
                $('#productTags_hidden').val(JSON.stringify(json));
                $('#productTag').val(null).trigger('change');
            }else{
                $('#productTag').val(null).trigger('change');
                return;
            }
           }
        });

       $(document).on('click', '.removeTag', function() {
            var tag = $(this).data('tag') || {};
            if(!$.isEmptyObject(tag)){
                var json = $('#productTags_hidden').val() ? JSON.parse($('#productTags_hidden').val()) : [];
                if(json.length > 0){
                    json = $.grep(json, function(item) {return item.TagId !== tag.tagId;});
                    $('#productTags_hidden').val(JSON.stringify(json));
                }
            }
            $(this).parent().remove();
        });

        //manage the alternate product related operations
        function InitAlternateProductSelect2() {

            //#region load items to Alternate Production dropdown from the remote data source

            $('#alternate-product').select2({
                ajax: {
                    url: '/Products/GetAllProducts',
                    dataType: 'json',
                    type: "GET",
                    data: function (params) {
                        return { queryString: !params ? null : params.term };
                    },
                    processResults: function (data) {
                        let select2Data = { results: [{ id: '', text: 'Select Alternate Product' }] };

                        if (data && Array.isArray(data)) {

                            data.forEach((value, index) => {
                                select2Data.results.push({ id: value.productId, text: value.sku + " | " + value.description });
                            });
                        }

                        return select2Data;
                    }
                }
            });

            //#endregion

        }
    </script>
}