@model ERPWebApp.Models.ProductCustomFulfillment

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Location</h4>
    <hr />
    <dl class="row">
        <dt class="col-5 col-lg-2">
            @Html.DisplayNameFor(model => model.Bundle.BundleName)
        </dt>
        <dd class="col-5 col-lg-10">
            @Html.DisplayFor(model => model.Bundle.BundleName)
        </dd>
        <dt class = "col-5 col-lg-2">
            @Html.DisplayNameFor(model => model.Product.Sku)
        </dt>
        <dd class = "col-5 col-lg-10">
            @Html.DisplayFor(model => model.Product.Sku)
        </dd>
        <dt class = "col-5 col-lg-2">
            @Html.DisplayNameFor(model => model.ShipStationStore.StoreName)
        </dt>
        <dd class = "col-5 col-lg-10">
            @Html.DisplayFor(model => model.ShipStationStore.StoreName)
        </dd>
        <dt class = "col-5 nowrap col-lg-2">
            @Html.DisplayNameFor(model => model.CustomFulfillmentCost)
        </dt>
        <dd class = "col-5 col-lg-10">
            @Html.DisplayFor(model => model.CustomFulfillmentCost)
        </dd>
        <dt class = "col-5 col-lg-2">
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>
        <dd class = "col-5 col-lg-10 col-lg-2">
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>
        <dt class = "col-5 col-lg-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-5 col-lg-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductCustomFulfillmentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
